{% extends "layout.html" %}
{% set active_page = "graphs" %}

{% block head_title %}{% endblock %}
{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/MarkerCluster.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/MarkerCluster.Default.css') }}" />
{% endblock %}
{% block head_js %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/leaflet.spin.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/leaflet.markercluster.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="map" class="map-large"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">

                <div class="row">
                    <div class="col-md-12">
                        <label for="routingType" class="control-label input-group">Routing type</label>
                        <div class="btn-group" id="routingType" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="routingType" value="0">Basic
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="routingType" value="1">Low risk / worst-case
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="routingType" value="2" checked="">Wait-and-See
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="routingType" value="3">Scenario Wait-and-See
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" id="periodSelect">
                    <div class="col-md-5">
                        <label for="season" class="control-label input-group">Season</label>
                        <div class="btn-group" id="season" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="season" value="spring" checked="">Spring
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="season" value="summer">Summer
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="season" value="autumn">Autumn
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="season" value="winter">Winter
                            </label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label for="dayTime" class="control-label input-group">Day Time</label>
                        <div class="btn-group" id="dayTime" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="dayTime" value="morning">Morning
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="dayTime" value="forenoon">Forenoon
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="dayTime" value="afternoon" checked="">Afternoon
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="dayTime" value="evening">Evening
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="dayTime" value="night">Night
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="start" class="control-label input-group">Start</label>
                        <input id="start" name="start" class="form-control" placeholder="start node ID">
                    </div>
                    <div class="col-sm-6">
                        <label for="end" class="control-label input-group">End</label>
                        <input id="end" name="end" class="form-control" placeholder="end node ID">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="dijkstra" class="control-label input-group">Shortest path</label>
                        <input type="button" name="dijkstra" class="btn btn-default" value="Compute" onclick="dijkstraPath('start', 'end', 'routingType', 'season', 'dayTime');">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label for="removeAll" class="control-label input-group">Controls:</label>
                    <input type="button" name="removeAll" class="btn btn-default" value="Remove all paths" onclick="removeAllPaths();">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="foundPaths" class="control-label input-group">Found Paths:</label>
            <table class="table" id="foundPaths">
                <thead>
                    <tr><th>#</th><th>Length</th><th>Frequency [%]</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block body_js_src %}
{% endblock %}

{% block body_js_script %}

///////// Map box ///////////
	// More maps can be found here: http://leaflet-extras.github.io/leaflet-providers/preview/
    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
                });
    var map = L.map('map', {layers: [tiles]});
    var bounds = [[{{ bbox[3] }}, {{ bbox[0] }}], [{{ bbox[1] }}, {{ bbox[2] }}]];
    var affectedEdges = null;

///////// Crossroads loader ///////////
    var markers = L.markerClusterGroup({ spiderfyOnMaxZoom: false, disableClusteringAtZoom: 17 });
    map.addLayer( markers );

    map.spin(true);
    $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '{{ url_for('graphGetNodes', graphID=graphID) }}',
        success: function(data) {
            var iconUrl = L.icon({ iconUrl: '{{ url_for('static', filename='images/measle.png') }}' })
            features = data.features
            for (var i = 0; i < features.length; i++) {
                var a = features[i];
                var id = a.id;
                var marker = L.marker(new L.LatLng(a.geometry.coordinates[1], a.geometry.coordinates[0]), { id: id, icon: iconUrl });
                markers.addLayer(marker);
            }
            markers.on('click', function (a) {
                if($("#end").val())
                {
	                $("#start").val("");
	                $("#end").val("");
                }
                if(!$("#start").val())
	                $("#start").val(a.layer.options.id);
                else
	                $("#end").val(a.layer.options.id);
            });
            map.spin(false);
        },
        error: function(e) {
            alert('Unexpected error! Cannot load graph nodes');
            map.spin(false);
        }
    });

///////// Affected edges loader ///////////
    function affectedEdgesPopup(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.opacity) {
            l = layer.bindPopup("Loading...", {maxWidth: 600, maxHeight: 400, className: 'map-popup'});

            l.on('click', function(e) {
                var popup = e.target._popup;
                popup.setContent("Loading...");
                popup.update();
                var n1 = e.target.feature.properties.n1;
                var n2 = e.target.feature.properties.n2;
                $.ajax({
                    type: 'POST',
                    data: {'n1': n1, 'n2': n2},
                    dataType: 'json',
                    url: '{{ url_for('graphGetEdgeDetails', graphID=graphID) }}',
                    success: function(data) {
                        var msgsHTML = ""
                        for (msg of data.msgs)
                           msgsHTML += parse('<li><b>MSG:</b> %s</li>', msg.txt);
                        
                        var contentHTML = parse('<ul><li><b>ID:</b> %s</li><li><b>length:</b> %s m</li><li><b>penalization:</b> %s</li>%s</ul>', data.id.toString(), data.length.toString(), data.multiplicator.toString(), msgsHTML);
                        popup.setContent(contentHTML);
                        popup.update();
                    },
                    error: function(e) {
                        alert('Unexpected error! Cannot load edge detail ' . e);
                    }
                });
            });
        }
    }

    // Load affected edges
    map.spin(true);
    $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '{{ url_for('graphGetAffectedEdges', graphID=graphID) }}',
        success: function(data) {
            affectedEdges = L.geoJson(data, {
                style: function(feature) { return {opacity: feature.properties.opacity, color: 'red'};}, 
                onEachFeature: affectedEdgesPopup,
                smoothFactor: 2
            }).addTo(map);
            map.spin(false);
        },
        error: function(e) {
            alert('Unexpected error! Cannot load affected edges');
            map.spin(false);
        }
    });

///////// Trigger zoomed event ///////////
    map.fitBounds(bounds);

///////// Path loader ///////////
    $('#routingType label').click(function() {
        routingType = $(this).children().val();
        if(routingType >= 2)
            $("#periodSelect").removeClass("hidden");
        else
            $("#periodSelect").addClass("hidden");
    });
    
    function dijkstraPath(startInputID, endInputID, routingTypeInputID, seasonInputID, dayTimeInputID)
    {
        start = $("#"+startInputID).val();
        end = $("#"+endInputID).val();
        routingType = $('#'+routingTypeInputID+' input:radio:checked').val();
        season = $('#'+seasonInputID+' input:radio:checked').val();
        dayTime = $('#'+dayTimeInputID+' input:radio:checked').val();
        GetShortestPath(start, end, routingType, season, dayTime);
    }
    
    var blueLineColors = ["#00001A", "#00004D", "#000080", "#0000CC", "#001AE6", "#0033FF", "#3366FF", "#7FB2FF", "#B3E6FF", "#E5FFFF"];
    var yellowLineColors = ["#E3EE68", "#FCFF81", "#FFFF9B", "#FFFFB5", "#000900", "#172200", "#313C00", "#646F00", "#B0BB35", "#CAD54F"];
    var greenLineColors = ["#03B00B", "#1DCA25", "#36E33E", "#50FD58", "#69FF71", "#82FF8A", "#9CFFA4", "#B6FFBE", "#CFFFD7", "#E8FFF0"];
    var pathsLayer = []
    function GetShortestPath(start, end, routingType, season, dayTime){
        map.spin(true);
        switch(routingType){
            case "0":
                typeColor = greenLineColors;
                break;
            case "1":
                typeColor = yellowLineColors;
                break;
            default:
                typeColor = blueLineColors;
        }
        $.ajax({
            type: 'POST',
            data: {'start': start, 'end': end, 'routingType' : routingType, 'season' : season, 'dayTime' : dayTime, 'submit' : 'start'},
            dataType: 'json',
            url: '{{ url_for('graphGetPath', graphID=graphID) }}',
            success: function(data) {
                if(data.succeded)
                {
                    experiments = data.number_of_experiments;
                    paths_pool = data.paths;
                    paths_pool.features.sort(function(a, b){
                                return b.properties.weight - a.properties.weight
                                });
                    counter = 0;
                    path = L.geoJson(paths_pool, {
                        onEachFeature: function (feature, layer) {
                            percentil = (feature.properties.count / experiments) * 100;
                            var tableRow = parse('<tr><td bgcolor=%s>%s.</td><td>%s m</td><td>%s %</td></tr>', 
                                                        typeColor[counter % 10],
                                                        (counter + 1).toString(), 
                                                        feature.properties.length.toString(),
                                                        percentil.toString());
                            $("#foundPaths tbody").append(tableRow);

                            var contentHTML = parse('real length: %s</br>evaluation: %s</br> Frequency: %s </br> Frequency: %s %',
                                                         feature.properties.length.toString(), 
                                                         feature.properties.eval.toString(),
                                                        feature.properties.count.toString(),
                                                        percentil.toString());
                            layer.bindPopup(contentHTML);
                            layer.setStyle({weight: feature.properties.weight.toString(), color: typeColor[counter % 10]});
                            counter++;
                        }
                    }).addTo(map);
                    pathsLayer.push(path);
                    affectedEdges.bringToFront();
                }
                else
                {
                    alert(data.message.toString());
                }
                map.spin(false);
            },
            error: function(e) {
                alert('Unexpected error! Cannot get path');
                map.spin(false);
            }
        });
    }


    function removeAllPaths()
    {
        for (path of pathsLayer)
        {
            map.removeLayer(path);
        }
        pathsLayer.length = 0;
        $("#foundPaths tbody").empty();
    }
{% endblock %}