<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('index') }}">Waste Transport Manager</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li {% if active_page == 'app' or active_page == '' %}class="active"{% endif %}>
            <a href="{{ url_for('index') }}">Application</a>
        </li>
		<li {% if active_page == 'graphs' or active_page == '' %}class="active"{% endif %}>
            <a href="{{ url_for('graphList') }}">Graphs</a>
        </li>        
        <li {% if active_page == 'settings' %}class="active"{% endif %}>
            <a href="{{ url_for('settings') }}">Settings</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->