Flask==0.12.4
geojson==2.4.0
geopy==1.17.0
iso8601==0.1.12
matplotlib==2.1.2
networkx==2.1
nominatim==0.1
openpyxl==2.5.8
osmium==2.14.3
pandas==0.23.4
rtree==0.8.3
shapely==1.6.4.post1
SQLAlchemy==1.2.12
tqdm==4.27.0
dbfread==2.0.7
